*
body{
  padding: 0;
  margin: 0;
background-color: #A0D8EF;
}

li
{
  list-style: none;
}

.header
{
  height: 65px;
  border-bottom: 1px solid #dddddd;
}

.selected
{
  color: #ED7000;
}

.main
{
  min-width: 800px;
}

.contact-form
{
  width: 70%;
  margin: 60px auto;
  padding: 50px;
  background-color: #F5F5F5;
  color: #333;
}

.form-title
{
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

.form-item
{
  padding: 20px 0 10px 0;
  font-weight: bold;
}

input[type="text"]
{
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
}

input[type="submit"]
{
  margin-top: 30px;
  width: 5%;
  border: 1px solid #5cb85c;
  border-radius: 4px;
  padding: 12px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  font-size: 14px;
  line-height: 1.428571429;
  color: white;
  background-color: #5cb85c;
}

select
{
  display: block;
  width: 30%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea
{
  width: 60%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
}
